# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Remix specific
.remix/
.remix-ide/

# Hardhat cache
cache/
artifacts/

# Foundry (if used)
out/
forge-artifacts/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Solidity coverage
coverage/
coverage.json

# IDE settings
.vscode/
.idea/

.deps